<ion-content>
  <ion-slides class="mainSlides" #slider>
    <ion-slide class="authSlide">

      <form [formGroup]="this.authService.signInPhone">
        <img src="assets/imgs/logo.png" class="logo" />
        <ion-item class="ion-margin-horizontal ">
          <ion-label position="floating">Phone Number</ion-label>
          <ion-input type="number" formControlName="phone"></ion-input>
        </ion-item>
        <div id="recaptcha-container"></div>
        <ion-button shape="round" class="ion-margin-top" (click)="checkPhone()" id="sign-in-button">Continue Logging In
        </ion-button>

      </form>

    </ion-slide>
    <ion-slide>
      <form [formGroup]="this.authService.signInOtp">
        <img src="assets/imgs/logo.png" class="logo" />



        <div class="digit-group">
          <input type="text" maxLength="1" size="1" min="0" max="9" formControlName="digit1" id="digit1" #digit1
            (keyup)="setNextFocus(2)" name="digit1" data-next="digit2" pattern="[0-9]{1}" />
          <span class="splitter"></span>
          <input type="text" maxLength="1" size="1" min="0" max="9" formControlName="digit2" id="digit2" #digit2
            (keyup)="setNextFocus(3)" name="digit2" data-next="digit3" data-previous="digit1" pattern="[0-9]{1}" />
          <span class="splitter"></span>
          <input type="text" maxLength="1" size="1" min="0" max="9" formControlName="digit3" id="digit3" #digit3
            (keyup)="setNextFocus(4)" name="digit3" data-next="digit4" data-previous="digit2" pattern="[0-9]{1}" />
          <span class="splitterMaj"></span>
          <input type="text" maxLength="1" size="1" min="0" max="9" formControlName="digit4" id="digit4" #digit4
            (keyup)="setNextFocus(5)" name="digit4" data-next="digit5" data-previous="digit3" pattern="[0-9]{1}" />
          <span class="splitter"></span>
          <input type="text" maxLength="1" size="1" min="0" max="9" formControlName="digit5" id="digit5" #digit5
            (keyup)="setNextFocus(6)" name="digit5" data-next="digit6" data-previous="digit4" pattern="[0-9]{1}" />
          <input type="text" maxLength="1" size="1" min="0" max="9" formControlName="digit6" id="digit6" #digit6
            name="digit6" data-previous="digit5" />
        </div>


        <!-- <ion-item class="ion-margin-horizontal ">
          <ion-label position="floating">OTP</ion-label>
          <ion-input type="number" formControlName="otp"></ion-input>
        </ion-item> -->

        <ion-button expand="block" class="ion-margin-horizontal" (click)="checkOtp()">Verify</ion-button>
        <ion-button fill="clear" expand="block" class="ion-margin-horizontal" (click)="checkPhone()"> Resend OTP
        </ion-button>
      </form>



    </ion-slide>
  </ion-slides>
</ion-content>