<app-menu-header name="Profile"></app-menu-header>

<ion-content>

    <div class="profileCard">

        <!-- <app-loader *ngIf="picShowLoader"></app-loader> -->
        <div class="profilePicture" *ngIf="!picShowLoader">
            <div class="proContainer">
                <label>
                    <ion-input type="file" style="display: none;" (change)="fileChange($event)"
                        accept="image/x-png,image/gif,image/jpeg"></ion-input>
                    <img [src]="user.profilePicture" *ngIf="user.profilePicture" class="prof">
                    <img src="assets/imgs/bot.png" *ngIf="!user.profilePicture">
                    <ion-button size="small" shape="round" class="editProBtn">
                        <ion-icon name="create"></ion-icon>
                    </ion-button>
                </label>
            </div>
        </div>


        <br>
        <ion-grid>
            <ion-row>
                <ion-col size="12" size-md="6" offset-md="3">
                    <ion-card>
                        <ion-list lines="none">
                            <ion-item>
                                <ion-label slot="start">Name</ion-label>
                                <p slot="end">{{user.name}}</p>
                            </ion-item>
                            <ion-item>
                                <ion-label slot="start">Email</ion-label>
                                <p slot="end">{{user.email}}</p>
                            </ion-item>
                            <ion-item>
                                <ion-label slot="start">Admin</ion-label>
                                <p slot="end">{{user.isAdmin}}</p>
                            </ion-item>
                            <ion-item>
                                <ion-label slot="start">Status</ion-label>
                                <p slot="end">{{user.status}}</p>
                            </ion-item>
                        </ion-list>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>

</ion-content>