.profileCard {
    // .prof {
    //     border-radius: 50%;
    //     width: 30%;
    //     margin: auto;
    //     img{
    //         height: 100%;
    //         width: auto;
    //     }
    // }

    // .profilePicture {
    //     width: 80%;
    //     height: 150px;
    //     margin: auto;
    // }

    text-align: center;
    margin-bottom: 20px;
    margin-top: 80px;
}

.profilePicture {

    .proContainer {

        // border: 1px solid blue;
        border-radius: 50%;
        height: 150px;
        width: 150px;
        margin: auto;
        position: relative;

        img {
            border-radius: 50%;
        }
    }

    .editProBtn {
        position: absolute;
        right: 0%;
        top: 0;
    }

    height: 150px;

}