<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/messaging"></ion-back-button>
    </ion-buttons>
    <ion-title>{{user.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item *ngFor="let m of messages " lines="none">
    <div [class.talk-bubble-right]="m.type == 'sent'" [slot]="m.slotPlace"
      [class.talk-bubble-left]="m.type == 'recieved'">
      <p>{{m.message}}</p>
      <p class="time">{{m.timestampDisplay}}</p>
    </div>
  </ion-item>
  <!-- <ion-item *ngFor="let rm of recievedMessages" lines="none">
    <div class="talk-bubble-left" slot="start">
      <div class="talktext">
        <p>{{rm.message}}</p>
      </div>
    </div>
  </ion-item> -->

</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <form [formGroup]="this.modelService.message">
          <ion-item lines="none">
            <ion-input type="text" placeholder="Your Message..." (keyup.enter)="sendMessage()"
              formControlName="message">
            </ion-input>
          </ion-item>
        </form>
      </ion-col>
      <ion-col size="2">
        <ion-fab-button (click)="sendMessage()">
          <ion-icon name="send" shape="round"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>