<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/projects"></ion-back-button>
        </ion-buttons>
        <ion-title>Archived Projects</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card *ngFor="let p of projects" (click)="gtDetails(p)">
        <ion-card-header>
            <ion-card-title>{{p.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p class="timestamp">{{p.timestamp}}</p>
        </ion-card-content>
    </ion-card>

</ion-content>