<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/projects"></ion-back-button>
        </ion-buttons>
        <ion-title>Archived Projects</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-loader *ngIf="showLoader"></app-loader>
    <p class="nodata" [hidden]="showLoader" *ngIf="!projects.length">No Archived Projects</p>
    <ion-card *ngFor="let p of projects" (click)="gtDetails(p)" [hidden]="showLoader">
        <ion-card-header>
            <ion-card-title>{{p.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p class="timestamp">{{p.timestamp}}</p>
        </ion-card-content>
    </ion-card>

</ion-content>