<app-menu-header name="Clients"></app-menu-header>
<ion-content>
    <ion-grid [hidden]="showLoader" *ngIf="clients.length">
        <ion-row>
            <ion-col size-md="9" size="12">
                <ion-searchbar [(ngModel)]="searchBar" (ionChange)="getItems(searchBar)"
                    placeholder="Search by Client's Name" type="text">
                </ion-searchbar>
            </ion-col>
        </ion-row>
    </ion-grid>

    <app-loader *ngIf="showLoader"></app-loader>
    <p class="nodata" [hidden]="showLoader" *ngIf="!clients.length">No Clients</p>
    <ion-card *ngFor="let c of clients" (click)="gtDetails(c)" [hidden]="showLoader">
        <ion-card-header>
            <ion-card-title>{{c.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p class="timestamp">{{c.timestamp}}</p>
        </ion-card-content>
    </ion-card>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/add-client">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>